<body>
    <div class="bg-image">

    </div>

    <div class="container">
        <div class="welcomeMsg">
            <h1 class="main-title">Welcome to my little World of Fun!</h1>
        </div>
        <ul class="collapsible popout">
            <li class="active">
              <div class="collapsible-header"> <i class="material-icons">person</i>About Me</div>
              <div class="collapsible-body content"><app-aboutme></app-aboutme></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">work</i>Projects</div>
              <div class="collapsible-body content"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsam at magni, veniam velit rerum itaque accusantium ullam. Libero cumque atque, corporis eaque quibusdam est autem illo velit quas odio.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">contacts</i>Contact Me</div>
              <div class="collapsible-body content"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
    </div>